@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

/* Remove padding and margin */
.leaflet-popup-content-wrapper {
  padding: 0 !important; /* Remove inner padding */
}

.leaflet-popup-content {
  margin: 0 !important; /* Remove content margin */
  padding: 0 !important; /* Ensure no inner padding */
}